body {
    background-color: #65B741;
}

.home-header {
    font: 75px poppins;
    color: #FBF6EE;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-login{
    font: 75px poppins;
    color: #FBF6EE;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-signup{
    font: 75px poppins;
    color: #FBF6EE;
    text-align: center;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}
