@tailwind base;
@tailwind components;
@tailwind utilities;

.home-entirepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}

.homepage-new-post {
    z-index: 1000;
}
.homepage-all-posts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 10vh; 
    margin-top: auto;
}

.homepage-all-posts ul {
    list-style-type: none; 
}

.like-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.like-section img {
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.like-count {
    font-size: 16px;
}