@tailwind base;
@tailwind components;
@tailwind utilities;
input[type="password2"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}